.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid rgb(153, 111, 76);
  border-radius:6px ;
  box-shadow:  rgb(255, 255, 255) 10px -10px 0px -3px, rgb(153, 111, 76, 0.5) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgba(148, 102, 65, 0.8) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  
  .right{
  width: 58%;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/3467149/pexels-photo-3467149.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
  .login{
  width: 40%;
  background-color: white;
  margin-right: 14px;
  margin-top: 220px;
  box-shadow: rgb(255, 255, 255) 10px -10px 0px -3px, rgb(153, 111, 76, 0.5) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgba(148, 102, 65, 0.8) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px;
}
/* .login {
    border: 3px solid rgb(153, 111, 76);
    padding: 20px;
    border-radius:6px ;
    z-index: 1;
    width: 100%;
  } */
  .logo-container {
    max-width: 520px;
  }
}