.post-list {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.post-form {
  flex-direction: column;
  box-shadow: 5px 5px 10px 2px rgb(2, 0, 38);
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 5px;
  padding: 0;
}

.post-card {
  display: flex;
  flex-direction: column ;
  min-height: 135px;
  box-shadow: 5px 5px 10px 2px rgb(2, 0, 38);

}

.all-posts {
  margin-right: auto;
  margin-left: 2%;
}

.post-comment {
  margin-bottom: 30px;
}

/* Within Each Card */

.post-user-card {
  display: flex;
  flex-direction: row;
  background-color:rgb(2, 0, 38);
  align-items:center;
  max-height: 40px;
  color: white; 
}

.post-user-img {
  height: 32px;
  margin: 5px;
  padding: 2px;
  border-radius: 90%;
  background-color: rgba(185, 181, 255, 0.705);
}

.post-user-card > h3 {
  display: flex;
  padding: 4px;
  margin-left: 1px;
  font-weight: lighter;
  height: 20px;
  overflow: hidden;
  padding-right: 15px;
  margin-right: auto;
}

.post-prompt{
  background-color: rgb(2, 0, 38);
  color: white;
  padding:10px;
}

.submit-btn{
  height: 40px;
  width: 70px;
  text-align: center;
  margin-left: 95px;
  padding: 0;
}

.input-bar{
  margin-bottom: 10px;
}


.comment-list {
  height: 100%;
  margin-top: 50px;
  background: #0b0b12;
  padding: 10px 10px 0px 10px;
}

.comment-card {
  margin-top: 10px;
  border-radius: 8px;
  background:rgba(2, 0, 38, 0.301);
  border: 1px solid #292934;
  padding-bottom: 16px;
  text-align: left;
  padding-left: 15px;
  /* min-height: 90px; */
}

.user-header,
.user-card,
.create-form{
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.user-header{
  margin-bottom: 15px;
}

#btn{
  height: 35px;
  width: 35px;
  padding: 0;
  background-color: transparent;
  color: white;
}
#btnn{
  height: 35px;
  width: 35px;
  padding: 0;
  margin-left: 200px;
  background-color: transparent;
  color: white;
}
#pTag{
  font-size: 16px;
  padding: 20px;
  color: black;
  font-family: 'Slabo 27px', serif;
}

@media only screen and (min-width: 760px) {
  textarea{
  resize: horizontal;
  min-height:150px;
}
  .all-posts {
  margin-left: 70px;
}
.post-form {
  flex-direction: column;
  box-shadow: 5px 5px 10px 2px rgb(2, 0, 38);
  margin-right: 55px;
  min-width: 450px;
}
.create-post{
  min-width: 400px;
  margin-right: 5%;
}
}