body{
  background-color: lightblue;
}
.bio__container {
  width: 90%;
  margin: 2rem auto;
}

.bio__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(2, 0, 38);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.bio__flex .flex__item {
  width: 55%;
}
.bio__flex .flex__item:nth-of-type(2) {
  width: 45%;
  margin-left: 1.5rem;
}

.bio__info-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.bio__info .avatar__block {
  width: 25%;
}
.bio__info .text__block {
  width: 70%;
}
.bio__info .avatar__container {
  width: 70%;
  margin: auto;
}
.bio__info .avatar-container img {
  display: block;
  margin: auto;
}

.bio__info .text__block li.url {
  list-style-type: none;
  line-height: 2;
  font-size: 1.2rem;
}
.bio__info .text__block li.url span {
  font-size: .8rem;
  color: blue;
}


.bio__content {
  padding: 1.3rem;
}
.bio__content h5, .bio__content p {
  text-align: center;
}
.url{
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .create-form{
    display: flex;
    flex-direction: column;
  }
  .bio_info-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }
  .bio__flex {
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(2, 0, 38);
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 80%);
  }
  .bio__flex .flex__item {
    
    width: 55%;
  }

}

