.profile-card{
  width: 200px; 
  display:inline-table;
  padding:10px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid black;
  background-color: rgb(98, 98, 233);
}

.card-content {
  padding: 5px;
  width: 60px;

}

.card-title {
  display: flex;
  justify-content: center;
  align-items:center;
}