.profile-card{
  margin-left: 8px;
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  border-radius: 20%;
  margin: 4.5px;
}

.card {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid rgb(2, 0, 38);
  box-shadow: rgba(2, 2, 67, 0.25) 0px 12px 20px, rgba(9, 14, 138, 0.22) 0px 10px 10px;
}

.card-img {
  margin-left: 3px;
  margin-top: 7px;
  padding: 2px;
  border-radius: 90%;
  background-color: rgba(5, 0, 99, 0.664);
}

.card-title {
  display: flex;
  margin: 5px;
  padding-left: 5px;
  align-items:center;
  width: 100px;
  font-size: 20px;
  overflow: hidden;
}

.profile-button{
  float: left;
  background-color: transparent;
  border: transparent;
  width: 50px;
  color: rgb(2, 0, 38);
  animation: bounce;
  animation-duration: 2s;
}

.card-title > *{
  float:left;
}

:hover > .card {
  box-shadow: rgba(11, 24, 100, 0.07) 0px 1px 2px, rgba(255, 255, 255, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
