.profile-card{
  margin-left: 8px;
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  border-radius: 20%;
  margin: 4.5px;
}

.card {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1.5px solid rgb(2, 0, 38);
  box-shadow: 1px 3px rgb(103, 92, 92), -0.13em 0 .4em rgb(189, 189, 180);
}

.card-img {
  margin-left: 3px;
  margin-top: 7px;
  padding: 2px;
  border-radius: 90%;
  background-color: rgba(5, 0, 99, 0.664);
}

.card-img :hover {
  transform: scale(10px);
}

.card-title {
  display: flex;
  margin: 5px;
  padding-left: 5px;
  align-items:center;
  width: 100px;
  font-size: 20px;
  overflow: hidden;
}

.profile-button{
  float: left;
  background-color: transparent;
  border: transparent;
  width: 50px;
  color: rgb(2, 0, 38);
}


.card-title > *{
  float:left;
}
