
ul {
  padding: 0 0 0 .4rem;
}
.bio__container {
  width: 90%;
  margin: 2rem auto;
}

.bio__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(2, 0, 38);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

.bio__flex .flex__item {
  width: 55%;
}
.bio__flex .flex__item:nth-of-type(2) {
  width: 45%;
  margin-left: 1.5rem;
}


.bio__info-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.bio__info .avatar__block {
  width: 25%;
}
.bio__info .text__block {
  width: 70%;
}
.bio__info .avatar__container {
  width: 70%;
  margin: auto;
}
.bio__info .avatar-container img {
  display: block;
  margin: auto;
}

.bio__info .text__block li.url {
  list-style-type: none;
  line-height: 2;
  font-size: 1.2rem;
}
.bio__info .text__block li.url span {
  font-size: 0.8rem;
  color: blue;
}

.bio__content {
  padding: 1.3rem;
}
.bio__content h5,
.bio__content p {
  text-align: center;
}
.url {
  padding: 0px;
}
input{
  color: white;
padding: .5rem 1.2rem;
border: 1px solid white;
border-radius: 8px;
margin: .5rem auto;
display: inline-block;
width: 70%;
padding: 10px 5px;
background-color: rgba(0, 0, 0, 0.55);
}

/* .learn-more:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}
:focus-visible{
  outline-offset: 1px;
}

.learn-more {
  size: 30px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
} */

.learn-more:hover {
  background: rgb(2, 0, 38);;
  border-color: rgb(2, 0, 38);;
}

.learn-more {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  height: 34px;
  padding: 0 13px;
  color: #fff;
  vertical-align: top;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all .3s ease;
  background: rgb(184 186 255);
  border-color: rgb(184 186 255);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 11px;
}

.avatar__container{
  height: 75%;
  margin-top: 10px;
  
}



@media only screen and (max-width: 600px) {
  .create-form {
    display: flex;
    flex-direction: column;
  }

  .bio__info-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
  }
  .bio__flex {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(2, 0, 38);
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 80%);
    align-items: flex-start;
    margin: auto;

  }
  span.name {
    margin-left: 0.8rem;
    /* margin-top: 5px; */
  }

  .bio__info .avatar__block {
    width: 100%;
  }

  .bio__container {
    display: flex;
    width: 90%;
    margin: 2rem auto;
  }

  .bio__content {
    padding: 0px;
  }

  .bio__flex .flex__item:nth-of-type(2) {
    /* width: 45%; */
    /* margin-left: 1.5rem; */
    width: 67%;
    margin: auto;
  }
  
  P{
    margin: 0px;
  }

  input{
    color: white;
  padding: .5rem 1.2rem;
  border: 1px solid white;
  border-radius: 8px;
  margin: .5rem auto;
  display: inline-block;
  width: 70%;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.55);
  }

  .learn-more{
    background-color: #5b4caf; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }

  .bio__flex {
    width: 250px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #020026;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 80%);
}

}