.todo-section .container {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}
.todo-section .header h3 {
  text-align: center
}
.todo-section form {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-section form input {
  color: black;
  padding: .5rem 1.2rem;
  border: 1px solid rgb(54, 21, 21);
  border-radius: 8px;
  margin: .5rem auto;
  display: inline-block;
  width: 70%;
  padding: 10px 5px;
  border: 3px solid black;
  background: transparent;
  box-shadow: 1rem;

}
.todo-section form button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 100px;
  color: rgb(5, 15, 8);
  background: transparent;
  font-weight: bolder;
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6)
}

.todo-section form button:hover {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.todo-section .todos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-self: center;
}

.todo-section .todo-item {

  padding: 1rem;
  border: 2px solid #000;
  border-radius: 8px;
  height: 0.2px;
}


.todo-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 864px){
  #delete-button{
    margin-right: initial;
  }

  .todo-section .container form {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  
  .create-form{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .todo-item button {
    margin-left: 0;
  }
}