
 label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
  text-align: left;
}

input{
  font-size: var(--font-l);
  padding: 2px 4px;
  border-radius: 8px;
  background-color: cornflowerblue;
}
